div.site-map
	a(href="#")
		| about us
	a(href="#")
		| tour
	a(href="#")
		| help
	a(href="#")
		| blog
	a(href="#")
		| chat
	a(href="#")
		| data
	a(href="#")
		| legal
	a(href="#")
		| privacy policy
	a(href="#")
		| work here
	a(href="#")
		| advertising info
	a(href="#")
		| mobile
	a.bold(href="#")
		| contact us
	a.bold(href="#")
		| feedback
div.full-site-map.clearfix
	div.column
		div.column-container
			h4
				| Technology
			a(href="#")
				| Stack Overflow
			a(href="#")
				| Server Fault
			a(href="#")
				| Super User
			a(href="#")
				| Web Applications
			a(href="#")
				| Ask Ubuntu
			a(href="#")
				| Webmasters
			a(href="#")
				| Game Development
			a(href="#")
				| TeX - LaTeX
	div.column
		div.column-container
			a.no-top(href="#")
				| Programmers
			a(href="#")
				| Unix & Linux
			a(href="#")
				| Ask Different (Apple)
			a(href="#")
				| WordPress Development
			a(href="#")
				| Geographic Information Systems
			a(href="#")
				| Electrical Engineering
			a(href="#")
				| Android Enthusiasts
			a(href="#")
				| Information Security
	div.column
		div.column-container
			a.no-top(href="#")
				| Database Administrators
			a(href="#")
				| Drupal Answers
			a(href="#")
				| SharePoint
			a(href="#")
				| User Experience
			a(href="#")
				| Mathematica
			a(href="#")
				| Salesforce
			a(href="#")
				| ExpressionEngine® Answers
			a.bold(href="#")
				| more(13)
	div.column
		div.column-container
			h4
				| LIFE / ARTS
			a(href="#")
				| Photography
			a(href="#")
				| Science Fiction & Fantasy
			a(href="#")
				| Graphic Design
			a(href="#")
				| Movies & TV
			a(href="#")
				| Seasoned Advice (cooking)
			a(href="#")
				| Home Improvement
			a(href="#")
				| Personal Finance & Money
			a.bold(href="#")
				| Academia
			a.bold(href="#")
				| more(9)
	div.column
		h4
			| CULTURE / RECREATION
		div.column-container.big
			a(href="#")
				| English Language & Usage
			a(href="#")
				| Skeptics
			a(href="#")
				| Mi Yodeya (Judaism)
			a(href="#")
				| Travel
			a(href="#")
				| Christianity
			a(href="#")
				| Arqade (gaming)
			a(href="#")
				| Bicycles
			a.bold(href="#")
				| Role-playing Games
			a.bold(href="#")
				| more(21)
	div.column
		h4
			| Science
		div.column-container.big
			a(href="#")
				| Mathematics
			a(href="#")
				| Cross Validated (stats)
			a(href="#")
				| Theoretical Computer Science
			a(href="#")
				| Physics
			a(href="#")
				| MathOverflow
			a(href="#")
				| Chemistry
			a(href="#")
				| Biology
			a.bold(href="#")
				| more(5)
	div.column
		h4
			| Other
		div.column-container.big
			a(href="#")
				| Stack Apps
			a(href="#")
				| Meta Stack Exchange
			a(href="#")
				| Area 51
			a(href="#")
				| Stack Overflow Careers
div.copyright
	| site design / logo © 2016 Stack Exchange Inc; user contributions licensed under 
	a(href="#" rel="license")
		| cc by-sa 3.0
	| with
	a(href="#" rel="license")
		| attribution required
div.sunrev
	| rev 2016.5.7.3552