header#header
  .header-container.clearfix
    #logo
      a(href='/')
    nav
      a.current(href='/questions') Questions
      a(href='#') Jobs
      a(href='#') Tags
      a(href='#') Users
      a(href='#') Badges
      a(href='/ask') Ask Question