div.right-sidebar
		div.questions-count
			h2
				| 11,232,232
			span
				| questions
		div.hot-meta-posts
			h3
				| hot meta posts
			hr
			ul
				li.clearfix
					span.count
						| 29
					a.blue-color(href="#")
						| Any plans with the Stack Overflow theme?

				li.clearfix
					span.count
						| 44
					a.blue-color(href="#")
						| How can I see a particular advertisement again in the side bar?

				li.clearfix
					span.count
						| 16
					a.blue-color(href="#")
						| Who is the top reviewer when more than one reached the limit?

				li.clearfix
					span.count
						| 5
					a.blue-color(href="#")
						| Is it useful to flag comments on a deleted question as offensive?
		div.tags-container.favorite
			div.title
				h4
					| Favorite Tags
				a.blue-color(href="#")
					| edit
			div.tags
				a.tag(href="#")
					| node.js
				a.tag(href="#")
					| express.js
				a.tag(href="#")
					| angular
		div.tags-container.related
			div.title
				h4
					| Related Tags
			div.tags
				div
					a.tag(href="#")
						| javascript
					span
						| ×
					span.count
						| 1123232
				div
					a.tag(href="#")
						| java
					span
						| ×
					span.count
						| 1023232
				div
					a.tag(href="#")
						| c#
					span
						| ×
					span.count
						| 989989
				div
					a.tag(href="#")
						| php
					span
						| ×
					span.count
						| 875868
				div
					a.tag(href="#")
						| android
					span
						| ×
					span.count
						| 788954
				div
					a.tag(href="#")
						| jquery
					span
						| ×
					span.count
						| 443434
				div
					a.tag(href="#")
						| python
					span
						| ×
					span.count
						| 431233
				div
					a.tag(href="#")
						| html
					span
						| ×
					span.count
						| 423232
				div
					a.tag(href="#")
						| c++
					span
						| ×
					span.count
						| 123232
			a.blue-color(href="#")
				| more related links
		div.hot-questions
			h4
				a.blue-color
					| Hot Network Questions
			ul
				li
					div.site-icon.favicon.favicon-spanish
					a.blue-color(href="#")
						| Translating "I Will"
				li
					div.site-icon.favicon.favicon-italian
					a.blue-color(href="#")
						| “Smetti di” oppure “smettila di”?
				li
					div.site-icon.favicon.favicon-english
					a.blue-color(href="#")
						| What is the meaning of "mess somebody up"?
				li
					div.site-icon.favicon.favicon-bicycles
					a.blue-color(href="#")
						| How should I handle a highway patrolman who stops me occasionally to give incorrect instructions about my riding duties?
				li
					div.site-icon.favicon.favicon-photo
					a.blue-color(href="#")
						| Why buy prime super telephoto lenses instead of zoom super telephoto lenses?