div.topbar
	div.topbar-container.clearfix
		div.topbar-left.clearfix
			div.topbar-icon.topbar-icon-logo.bg-hover-lightblack
				div.topbar-dialog.dropdown.hide
					div.modal-content
						div.block-header.community
							h3
								a(href='#') Current Community
						div.block-section.community
							ul
								li.clearfix
									a.site-link.top-href.clearfix(href='#')
										span.site-icon.favicon.favicon-stackoverflow
										span Stack Overflow
									div.related-links
										a(href='#') chat
										a(href='#') log out
								li.clearfix.inner-li
									ul.inner-ul
										li
											a.community-name.clearfix(href='#')
												div.L-shaped-icon
												span.site-icon.favicon.favicon-stackoverflow-meta
												span Meta Stack Overflow
										li
											a.community-name.clearfix(href='#')
												div.L-shaped-icon
												span.site-icon.favicon.favicon-stackoverflow
												span Stack Overflow Careers
						div.block-header.clearfix
							h3
								a(href='#') Your Communities
							div.related-links
								a(href='#') edit
						div.block-section.section-other
							ul
								li.clearfix
									a.site-link.clearfix(href='#')
										span.site-icon.favicon.favicon-stackoverflow
										span Stack Overflow
										span.rep-score 6
								li.clearfix
									a.site-link.clearfix(href='#')
										span.site-icon.favicon.favicon-ru
										span Stack Overflow на русском
										span.rep-score 1
						div.block-header.clearfix
							h3
								a(href='#') More stack exchange communities
							div.related-links
								a(href='#') company
								a(href='#') blog
						div.block-section.section-other
							.site-filter-container
								input#site-filter-txt.site-filter-input(type='text', value='', placeholder='Find a Stack Exchange community')
							ul.other-sites
								li
									a.site-link.clearfix(href='#')
										span.site-icon.favicon.favicon-3dprinting(title='3D-Printing')
										span.site-name 3D Printing
										p.site-desc For 3D printing enthusiasts
								li
									a.site-link.clearfix(href='#')
										span.site-icon.favicon.favicon-academia(title='Academia')
										span.site-name Academia
										p.site-desc For academics and those enrolled in higher education
								li
									a.site-link.clearfix(href='#')
										span.site-icon.favicon.favicon-amradio(title='Amateur Radio')
										span.site-name Amateur Radio
										p.site-desc For amateur radio enthusiasts
								li
									a.site-link.clearfix(href='#')
										span.site-icon.favicon.favicon-android(title='Android Enthusiasts')
										span.site-name Android Enthusiasts
										p.site-desc For enthusiasts and power users of the Android operating system
			div.topbar-icon.topbar-icon-inbox.bg-hover-lightblack(href='#')
				div.topbar-dialog.dropdown.hide
					div.block-header.community
						h3
							a(href='#') Inbox
					div.modal-content.inner-modal
						ul
							li.inbox-item
								a(href='#')
									div.site-icon.favicon.favicon-stackexchangemeta(title='Meta Stack Exchange')
									div.item-content
										div.item-header
											span.item-type message
											span.item-creation
												span.relativetime(title='2016-04-19 13:36:26Z') Apr 19 at 13:36
										div.item-location
											| Updated Terms of Service
										div.item-summary
											| We have updated our Terms of Service.
							li.inbox-item
								a(href='#')
									div.site-icon.favicon.favicon-stackoverflow(title='Meta Stack Exchange')
									div.item-content
										div.item-header
											span.item-type answer
											span.item-creation
												span.relativetime(title='2016-04-19 13:36:26Z') Apr 19 at 13:36
										div.item-location
											| Node.JS include Jade file errno: -2,
										div.item-summary
											| Are the two files in the same directory?
							li.inbox-item
								a(href='#')
									div.site-icon.favicon.favicon-ru(title='Meta Stack Exchange')
									div.item-content
										div.item-header
											span.item-type message
											span.item-creation
												span.relativetime(title='2016-04-19 13:36:26Z') Apr 19 at 13:36
										div.item-location
											| Node.JS include Jade file errno: -2,
										div.item-summary
											| Are the two files in the same directory?
							li.inbox-item
								a(href='#')
									div.site-icon.favicon.favicon-stackoverflow(title='Meta Stack Exchange')
									div.item-content
										div.item-header
											span.item-type answer
											span.item-creation
												span.relativetime(title='2016-04-19 13:36:26Z') Apr 19 at 13:36
										div.item-location
											| Node.JS include Jade file errno: -2,
										div.item-summary
											| Are the two files in the same directory?
							li.inbox-item
								a(href='#')
									div.site-icon.favicon.favicon-stackoverflow(title='Meta Stack Exchange')
									div.item-content
										div.item-header
											span.item-type comment
											span.item-creation
												span.relativetime(title='2016-04-19 13:36:26Z') Apr 19 at 13:36
										div.item-location
											| Node.JS include Jade file errno: -2,
										div.item-summary
											| Are the two files in the same directory?
							li.inbox-item
								a(href='#')
									div.site-icon.favicon.favicon-stackoverflow(title='Meta Stack Exchange')
									div.item-content
										div.item-header
											span.item-type comment
											span.item-creation
												span.relativetime(title='2016-04-19 13:36:26Z') Apr 19 at 13:36
										div.item-location
											| Node.JS include Jade file errno: -2,
										div.item-summary
											| Are the two files in the same directory?
							li.inbox-item
								a(href='#')
									div.site-icon.favicon.favicon-stackoverflow(title='Meta Stack Exchange')
									div.item-content
										div.item-header
											span.item-type comment
											span.item-creation
												span.relativetime(title='2016-04-19 13:36:26Z') Apr 19 at 13:36
										div.item-location
											| Node.JS include Jade file errno: -2,
										div.item-summary
											| Are the two files in the same directory?
							li.inbox-item
								a.see-all(href='#') see all inbox items
			div.topbar-icon.topbar-icon-achievments.bg-hover-lightblack(href='#')
				div.topbar-dialog.dropdown.hide.achievements
					div.block-header
						h3
							a(href='#') Achievements
							span.utc-clock
								| utc time 
								span.js-utc-time.utc-time 17:12
					div.modal-content.inner-modal
						div.date-group-toggle-row
							span.date-header Last 30 days
							p.date-group-toggle
							ul
								li.inbox-item
									a(href='#')
										div.site-icon.favicon.favicon-stackoverflow(title='Meta Stack Exchange')
										span.achievements-badge
											span.badge.badge-bronze
										div.item-content
											div.item-header
												span
													| You've earned the "Student" badge (First question with score of 1 or more) for "Node.JS include Jade file errno: -2,".
								li.inbox-item
									a(href='#')
										div.site-icon.favicon.favicon-stackoverflow(title='Meta Stack Exchange')
										span.achievements-badge
											span.up-rep +5
										div.item-content
											div.item-header
												span Node.JS include Jade file errno: -2,
								li.inbox-item
									a(href='#')
										div.site-icon.favicon.favicon-stackoverflow(title='Meta Stack Exchange')
										span.achievements-badge
											span.up-rep +5
										div.item-content
											div.item-header
												span Node.JS include Jade file errno: -2,
						div.date-group-toggle-row
							span.date-header Other
							p.date-group-toggle
							ul
								li.inbox-item
									a(href='#')
										div.site-icon.favicon.favicon-stackoverflow(title='Meta Stack Exchange')
										span.achievements-badge
											span.badge.badge-bronze
										div.item-content
											div.item-header
												span
													| You've earned the "Student" badge (First question with score of 1 or more) for "Node.JS include Jade file errno: -2,".
								li.inbox-item
									a(href='#')
										div.site-icon.favicon.favicon-stackoverflow(title='Meta Stack Exchange')
										span.achievements-badge
											span.up-rep +5
										div.item-content
											div.item-header
												span Node.JS include Jade file errno: -2,
								li.inbox-item
									a(href='#')
										div.site-icon.favicon.favicon-stackoverflow(title='Meta Stack Exchange')
										span.achievements-badge
											span.up-rep +5
										div.item-content
											div.item-header
												span Node.JS include Jade file errno: -2,
						div.date-group-toggle-row
							span.date-header Order
							p.date-group-toggle
							ul
								li.inbox-item
									a(href='#')
										div.site-icon.favicon.favicon-stackoverflow(title='Meta Stack Exchange')
										span.achievements-badge
											span.badge.badge-bronze
										div.item-content
											div.item-header
												span
													| You've earned the "Student" badge (First question with score of 1 or more) for "Node.JS include Jade file errno: -2,".
								li.inbox-item
									a(href='#')
										div.site-icon.favicon.favicon-stackoverflow(title='Meta Stack Exchange')
										span.achievements-badge
											span.up-rep +5
										div.item-content
											div.item-header
												span Node.JS include Jade file errno: -2,
								li.inbox-item
									a(href='#')
										div.site-icon.favicon.favicon-stackoverflow(title='Meta Stack Exchange')
										span.achievements-badge
											span.up-rep +5
										div.item-content
											div.item-header
												span Node.JS include Jade file errno: -2,
		div.topbar-right.clearfix
			var user = #{user}
			if user
				div.links-container.bg-hover-lightblack
					span.topbar-menu-links.logout
						a(href="#")
							| logout
						form(action="/logout" method="post")
				a.user-profile.bg-hover-lightblack.clearfix(href='#')
					div.avatar-wrapper
						img.avatar(src='/template/images/avatar.png', title='#{user}')
					div.links-container.topbar-flair
						span.reputation(title='your reputation: 6') 6
						span(title='3 bronze badges')
							span.badge.badge-bronze
							span.badgecount 3
			else
				div.links-container.bg-hover-lightblack
					span.topbar-menu-links
						a(href="/registration")
							| sign up
				div.links-container.bg-hover-lightblack
					span.topbar-menu-links
						a(href="/login")
							| log in
				div.links-container.bg-hover-lightblack
					span.topbar-menu-links
						a(href="#")
							| tour
			div.links-container.bg-hover-lightblack.help-container
				span.topbar-menu-links help
				span.triangle
				div.topbar-dialog.dropdown.hide.help-block
					div.modal-content.inner-modal
						ul
							li.inbox-item
								a(href='#')
									| Tour
									div.item-summary
										| Start here for a quick overview of the site
							li.inbox-item
								a(href='#')
									| Tour
									div.item-summary
										| Start here for a quick overview of the site
							li.inbox-item
								a(href='#')
									| Tour
									div.item-summary
										| Start here for a quick overview of the site
							li.inbox-item
								a(href='#')
									| Tour
									div.item-summary
										| Start here for a quick overview of the site
							li.inbox-item
								a(href='#')
									| Tour
									div.item-summary
										| Start here for a quick overview of the site
							li.inbox-item
								a(href='#')
									| Tour
									div.item-summary
										| Start here for a quick overview of the site
			div.search-container
				form#search(action='', method='', onsubmit='return false;')
					input(name='srch', type='text', placeholder='Search Q&A', value='', maxlength='240')
