html
	head
		title 
			| login
		meta(charset="utf-8")
	body
		| Сорри, Вертска в процессе разработки
		form(action="/login" method="post")
			input(type="text" name="userName")
			input(type="password" name="password")
			input(type="submit" value="login")