html
	head
		title 
			| login
		meta(charset="utf-8")
	body
		| Сорри, Вертска в процессе разработки
		br
		a(href="/registration")
			| Зарегистрироваться
		form(action="/login" method="post")
			input(type="text" name="userName" placeholder="login")
			br
			input(type="password" name="password" placeholder="password")
			br
			input(type="submit" value="login")
