html
	head
		title 
			| login
		meta(charset="utf-8")
	body
		| Сорри, Верcтка в процессе разработки
		br
		a(href="/login")
			| Авторизироваться
		form(action="/registration" method="post")
			input(type="text" name="userName" placeholder="login")
			br
			input(type="password" name="password" placeholder="password")
			br
			input(type="submit" value="registration")
